{% extends 'mailings/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <a class="btn btn-primary margins" href="{% url 'mailings:campaign_create' %}" role="button">Создать</a>
        {% for mailings in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Рассылка</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-title pricing-card-title">{{ mailings.first_sent_time }}</p>
                            <p class="card-title pricing-card-title">{{ mailings.first_sent_time }}</p>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ mailings.message|truncatechars:100 }}</li>
                                <li>{{ mailings.recipients.all }}</li>
                                <li>{{ mailings.status }}</li>
                            </ul>
                            {% if user.is_superuser %}
                            <a class="btn btn-info margins__buttons" href="{% url 'mailings:campaign_detail' mailings.pk %}" role="button">Просмотреть</a>
                            <a class="btn btn-danger margins__buttons" href="{% url 'mailings:campaign_delete' mailings.pk %}" role="button">Удалить</a>
                            <a class="btn btn-warning" href="{% url 'mailings:campaign_update' mailings.pk %}" role="button">Редактировать</a>
                            {% endif %}
                            {% if perms.mailings.can_disable_mailing %}
                            <a class="btn btn-warning" href="{% url 'mailings:campaign_update' mailings.pk %}" role="button">Изменить статус публикации</a>
                            {% endif %}
                        </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}